@mixin flexCenter {
    display:flex;
    justify-content:center;
    align-items: center;
}

@mixin textStyle {
    text-transform: uppercase;
    text-align: center;
}

@mixin tileStyle ($photo){
    background-image: $photo ;
    background-size: cover;
}